.plugininstaller .input-text {
    height: 24px;
    flex-grow: 1;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--overlay_active);
    color: var(--text_primary);
}

.plugininstaller .ops-btns {
    display: flex;
}

.plugininstaller .vertical-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}

.plugininstaller .select-path.vertical-list-item {
    padding-top: 0px;
}

.plugininstaller .secondary-text {
    color: var(--text_secondary);
    font-size: min(var(--font_size_2), 16px);
    line-height: min(var(--line_height_2), 22px);
    margin-top: 4px;
}