body {
  -webkit-app-region: drag;
  user-select: none;
}

button {
  -webkit-app-region: no-drag;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

progress {
  width: 98%;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, -50%);
}

#dowloadTagProgess,
#dowloadTagText {
    display: none;
}

.app > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;

  & > div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  & .info {
    display: flex;
    gap: 8px;

    & :nth-child(1) {
      width: 120px;
    }
  }
}

.button {
  margin-top: 39px;

  :nth-child(2) {
    margin-left: auto;
  }
}

.icon img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
}
