body {
  -webkit-app-region: drag;
  user-select: none;
}

button {
  -webkit-app-region: no-drag;
}

#dowloadTagProgess,
#dowloadTagText {
    display: none;
}

#dowloadTagProgess {
  width: auto;
}

.action {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 580px;
  padding: 10px;

  & button{
    margin-left: 5px;
    float: right;
  }
}

.desc {
  & {
    display: flex;
    flex-direction: row;
  }

  & .icon {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 10px;
  }

  & div {
    display: flex;
    flex-direction: column;
    margin: 5px;

    & .name{
      height: 25px;
      font-size: 20px;
      font-weight: bold;
    }

    & .description{
      width: 450px;
      height: 70px;
      margin-top: 5px;
    }
  }
}

.info{
  & div{
    margin: 5px;
  }

  & > div .author {
    margin-left: 30px;
  }
}