.app {
  display: grid;
  grid: auto-flow / repeat(auto-fill, 630px);
  justify-content: space-evenly;
}

a {
  & {
    color: #0681d0;
    text-decoration: none;
  }

  &:hover {
    color: #1890ff;
  }
}

.desc {
  & {
    display: flex;
    flex-direction: row;
  }

  & .icon {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 10px;
  }

  & div {
    display: flex;
    flex-direction: column;
    margin: 5px;

    & .name{
      height: 25px;
      font-size: 20px;
      font-weight: bold;
    }

    & .description{
      width: 450px;
      height: 70px;
      margin-top: 5px;
    }
  }
}

.plugin-card {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 200px;
  padding: 10px;
  box-shadow: 0 0 5px 1px #00000064;
  background-color: rgb(246, 246, 247);
  border-radius: 10px;
  margin: 20px 0px;
}

.info{
  & div{
    margin: 5px;
  }

  & > div .author {
    margin-left: 30px;
  }
}

.link {
  float: right;
  width: 50px;
  height: 20px;
  transform: translateY(-20px);
}
